#OS logs
.DS_Store
Thumbs.db
desktop.ini
error_log

#Logs
logs
*.log

#Style Sheets
.sass-cache/
*.css.map
*.sass.map
*.scss.map
config.rb

#Site settings
robots.txt
sitemap.xml

#Editors
*.sublime-*
.idea
.codekit-cache
config.codekit*

#Composer
composer.phar
composer.lock
composer.json
vendor/

#Node.js
node_modules
npm-debug.log*
.npm

#Yarn
yarn-debug.log*
yarn-error.log*

#Bower
bower_components

#Environment
.env.*.php
.env.php
.env

simplehtmldom
.htaccess