%clear {
    clear: both;
}

%clearfix {
    *zoom: 1;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%empty() {
    &:empty {
        clear: both;
        display: none !important;
    }
}