@import 'kule/core/mixins';
@import 'kule/core/functions';
@import 'kule/css3';
@import 'kule/reset';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

$primary: #45a7b9;

body {
    line-height: 1.66;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", 微軟正黑體, Meiryo, "Droid Sans";
    color: #333;
}

a {
    color: $primary;
}

.section {
    padding: 20px;
}


h2, h4 {
    color: #000;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    margin: 40px 0 0;
}

p {
    margin-bottom: 1em;
}

dt {
    opacity: .54;
}

dd {
    margin-bottom: 1em;
}

ol {
    padding-left: 4px;
    margin-left: 20px;
    list-style: decimal-leading-zero;
}

hr {
    border-top: 1px solid #f6f6f6;
    margin: 50px 0;
    clear: both;
}

.wrap {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;

    @media (min-width: 768px) {
        .wrap {
            padding: 20px;
        }
    }
}

.namecard {
    .photo {
        margin-bottom: 20px;
    }

    @media (min-width: 768px) {
        .photo {
            float: left;
            padding-top: 5px;
        }

        .intro {
            margin-left: 128px;
        }
    }
}

.avatar {
    @include size(96px);
    border-radius: 50%;
}

.work-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(stretch);
    @include justify-content(center);
    max-width: 660px;
    margin: auto;

    .item {
        max-width: 100%;
        @include flex(1 1 100%);
        border: 5px solid #FFF;
        border-radius: 32px;
        background: #f8f8f8;
    }

    .item-content {
        padding-top: 100%;
    }

    @media (min-width: 375px) {
        .item {
            max-width: 50%;
            @include flex(1 1 50%);
        }
    }

    @media (min-width: 768px) {
        padding: 20px;

        .item {
            max-width: (100%/3);
            @include flex(1 1 (100%/3));
        }
    }
}

.item-content {
    display: block;
    border-radius: 32px;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}