<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta http-equiv="Content-Type" charset="utf-8" />
        <meta http-equiv="Content-Language" content="zh-TW" />
        <meta name="robots" content="none" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="Author" content="Kei™" />
        <title>Kei Cheng - Portfolio</title>
        <link rev="made" title="Author Mail" href="mailto:info@kei.tw" />
        <link rev="made" title="Author Web" href="https://www.kei.tw/" />
        <link rel="Shortcut icon" href="https://www.kei.tw/img/favicon.ico" />
        <link rel="Bookmark" href="https://www.kei.tw/img/favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kuletw/lazy@4.6/dist/css/lazy4.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kuletw/lazy@4.6/dist/css/lazy4-colours.css">
        <link rel="stylesheet" href="css/portfolio.css" />
    </head>
    <body>
        <div id="app">
            <div class="section namecard">
                <div class="wrap">
                    <div class="photo">
                        <img src="img/photo.jpg" class="avatar">
                    </div>
                    <div class="intro">
                        <h2>嗨！我是 Kei</h2>
                        <p>來自台北，曾就讀松山商職廣告設計科與台灣科技大學工商業設計系。早期從事網頁視覺設計，近年皆以網頁前端為主，稍有接觸 PHP 與後台建置。曾自行開發 CSS Framework。除了工作之外，閒暇之餘會執行 Side Projects，將常需要的資訊彙整起來以便後續使用時能更節省時間。</p>
                        <p>前幾份工作都是擔任網頁視覺設計師，主要工作在於處理網站視覺排版、介面設計，在以前還沒有區分前後端時，設計師都要處理幫忙切版（div/css），因而學習 HTML 與 CSS，再從接觸 Javascript，逐漸開始往前端之路發展。</p>
                        <p>在跑客幫時期，除了幫忙處理網站視覺之外也要處理前端工作。當時公司使用 Joomla 為網站基底，內建 Mootools。當時趨勢與後續開發，從 Mootools 全面改成 jQuery，讓我開始熟悉 jQuery 的處理方式以及體驗操作 DOM 的便利。而後 Angular 1.x 問世，試著將此 framework 帶入到公司專案中，不幸的是 2.x 的全面改版而放棄 Angular。</p>
                        <p>凱斯時期主要任務是開發自家產品 Circles，一個商務社交平台。後端使用開發環境是 PHP 與 Laravel 框架，藉由與後端配合銜接 API、嘗試使用 Vue 建置。同時也會幫忙專案部門處理公司外部專案，例如 TOTO 網站以及一系列活動、瑪麗蓮內部系統前端開發、Mediplus 網站開發等等。</p>
                        <p>邁圈時期主要任務是開發數據管理平台，當時成立新的資訊部門，擔任資訊經理。主要工作與行銷人員溝通、了解業務需求並且規劃系統功能與流程，建立團隊工作流程方式，例如 git flow、進度控管、問題回報機制、每週讀書會分享等等。同時也會處理其他部門帶來的網站開發專案、ga/gtm 與 Facebook Pixel 埋設與設定。</p>
                        <p>銘島時期主要任務為處理專案的前端工作、專案評估、回應 PM 與客戶有關技術相關問題。主要處理專案：光陽 Ionex 官網、Inoex 產品網站與後端系統介面、龍巖官網與後端管理介面、世基基因檢測系統前端開發、聯齊科技能源物聯網專案合作。</p>
                        <p>海棠時期主要任務為評估專案可行性、開發成本、技術相關研究與時程調配。並且改善開發環境，使用 Linux 建置 Git server、建立 Git flow 與 Branch 規則、AWS EC2 成本改善、使用 Docker, Nginx 建立微服務取代傳統虛擬主機、使用 Firebase 微型服務降低開發成本、引入 Astro, Vue3, Nuxt3 至前端開發並且投入使用前後端分離方式至專案中。</p>
                        <p>除了工作專案之外，也會開發自己的 Side Project。包含 CSS Framework，再到 Vue Components，以便處理工作專案時，可以降低重工問題。自己本身有參與山林戶外活動，規劃路線或檢視行程時，時常要看等高線地形圖、查閱山岳資訊、計算座標與日出日落時間，因此製作了台灣山岳網站，也方便山友能夠快速取得資訊。</p>
                        <p>目前正執行水源與路況回報平台「Tari」，方便了解登山路線有哪些宿營地、水源、路況、近期發生山難事件，協助山友們登山行前準備、盡可能降低風險。資訊來源來自於山友下山後回報至平台，隨時更新山上水源與路況資訊。</p>
                        <dl>
                            <dt>基礎技能</dt>
                            <dd>HTML, CSS/Sass/Scss/Less, Javascript(ES5, ES6+)</dd>
                            <dt>前端框架與函式庫</dt>
                            <dd>Tailwind UI, Vue.js, Nuxt, jQuery, Ajax, GSAP</dd>
                            <dt>開發工具與資料庫應用</dt>
                            <dd>Git, MongoDB, Firebase</dd>
                            <dt>SEO</dt>
                            <dd>Schema, PWA</dd>
                            <dt>使用的系統</dt>
                            <dd>macOS, Linux (CentOS/Rocky, Ubuntu)</dd>
                            <dt>使用的軟體與工具</dt>
                            <dd>VSCode, Sketch, Adobe Photoshop, Illusrator, Figma</dd>
                        </dl>
                        <h4>與我聯繫</h4>
                        <p>如有任何工作上的合作需求或是聊聊簡單打個招呼，您可透過以下方式與我聯繫：</p>
                        <ul>
                            <li>info@kei.tw</li>
                            <li><a href="https://github.com/keicheng" target="_blank">https://github.com/keicheng</a></li>
                        </ul>
                        <hr />
                        <div class="works">
                            <div v-for="item in sides" class="infoitem f-row u-mB:50">
                                <div class="infoitem_col :fixed f-col@md:5">
                                    <component :is="'url' in item ? 'a' : 'div'" :href="'url' in item ? item.url : null"
                                        :target="'url' in item ? '_blank' : null" class="embed">
                                        <span class="embed_media" :style="`background-image: url('${item.thumbnail}')`"></span>
                                        <img :src="item.thumbnail" :alt="item.name">
                                    </component>
                                </div>
                                <div class="infoitem_col :fluid f-col">
                                    <h4 class="infoitem_title">{{item.name}}</h4>
                                    <div class="meta">
                                        <span v-for="v in item.jobtitle" class="label u-mR:10" :class="{
                                                                            'clr:primary': v === '前端',
                                                                            'clr:sapphire': v === '設計',
                                                                            'clr:dark': v !== '前端' && v !== '設計'
                                                                        }">
                                            {{v}}
                                        </span>
                                        <span v-for="v in item.tech" class="meta_item">{{v}}</span>
                                    </div>
                                    <p class="infoitem_txt">{{ item.content }}</p>
                                    <div class="u-fs:xs" v-if="'url' in item">
                                        <a target="_blank" :href="item.url">開啟連結</a>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div v-for="item in projects" class="infoitem f-row u-mB:50">
                                <div class="infoitem_col :fixed f-col@md:5">
                                    <component
                                        :is="'url' in item ? 'a' : 'div'"
                                        :href="'url' in item ? item.url : null"
                                        :target="'url' in item ? '_blank' : null"
                                        class="embed"
                                    >
                                        <span class="embed_media" :style="`background-image: url('${item.thumbnail}')`"></span>
                                        <img :src="item.thumbnail" :alt="item.name">
                                    </component>
                                </div>
                                <div class="infoitem_col :fluid f-col">
                                    <h4 class="infoitem_title">{{item.name}}</h4>
                                    <div class="meta">
                                        <span v-for="v in item.jobtitle"
                                            class="label u-mR:10"
                                            :class="{
                                                'clr:primary': v === '前端',
                                                'clr:sapphire': v === '設計',
                                                'clr:dark': v !== '前端' && v !== '設計'
                                            }"
                                        >
                                            {{v}}
                                        </span>
                                        <span v-for="v in item.tech" class="meta_item">{{v}}</span>
                                    </div>
                                    <p class="infoitem_txt">{{ item.content }}</p>
                                    <div class="u-fs:xs" v-if="'url' in item">
                                        <a target="_blank" :href="item.url">開啟連結</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/data.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>