body, html {
    height: auto;
}

body {
    line-height: 1.35;
    margin: 20px;
    font-size: 15px;
}

.table small {
    font-size: 85%;
    color: rgba(0,0,0,.25);
}

.table th,
.table td {
    padding: 20px 5px;
}

thead th {
    cursor: pointer;
    font-size: 14px;
}

th.sorting {
    color: grey;
}

#myTable {
    width: 100%;
}

#myTable td:before,
#twTable td:before {
    float: left;
    width: 48%;
    padding-right: 20px;
    text-align: right;
}

#twTable {
    display: none;
}

.social {
    position: relative;
    z-index: 2;
}

.color-note {
    display: none;
    padding-left: 16px;
    margin-bottom: 10px;
}

.color-note span {
    display: inline-block;
    line-height: 17px;
    margin-right: 16px;
    font-size: 13px;
}

.color-note span:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
}

.note-error {color: #d63a2b;}
.note-success {color: #82ba29;}
.note-warning {color: #f38b2e;}
.note-error:before {background-color: #d63a2b;}
.note-success:before {background-color: #82ba29;}
.note-warning:before {background-color: #f38b2e;}

td.error {color: #d63a2b;}
td.success {color: #82ba29;}
td.warning {color: #f38b2e;}

@media (max-width: 767px) {
    .color-note {
        display: block;
    }

    #twTable {
        display: table;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .table {
        text-align: center;
    }

    #myTable tbody tr {
        display: table-row;
    }

    #myTable tbody tr.active {
        display: table-row;
    }

    #myTable .mom-im-here td {
        color: #FFF;
        background: #353535 !important;
        white-space: nowrap;
    }

    #myTable .mom-im-here small {color: rgba(255,255,255, .6);}

    td:nth-child(1), td:nth-child(2), td:nth-child(3) {font-size: 90%;}
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }

    .table tbody tr:hover td {color: #FFF; background-color: #666;}
    .table tbody tr:hover small {color: rgba(255,255,255, .8);}

    .sorting_bad tbody tr:hover td {background-color: #82ba29;}
    .sorting_bad tbody tr:nth-child(-n+3):hover td {background-color: #55b3e9;}
    .sorting_bad tbody tr.mom-im-here ~ tr:hover td {background-color: #f38b2e;}
    .sorting_bad tbody tr:nth-last-child(4) ~ tr:hover td {background-color: #d63a2b;}

    .sorting_good tbody tr:hover td { color: #FFF; background-color: #f38b2e;}
    .sorting_good tbody tr:nth-child(-n+3):hover td {background-color: #d63a2b;}
    .sorting_good tbody tr.mom-im-here ~ tr:hover td {background-color: #82ba29;}
    .sorting_good tbody tr:nth-last-child(4) ~ tr:hover td {background-color: #55b3e9;}
}