<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <!--Base Meta Start-->
        <meta http-equiv="Content-Type" charset="utf-8">
        <meta http-equiv="Content-Language" content="zh-TW">
        <meta name="robots" content="all" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="Kei™/kei.tw" >
        <meta name="distribution" content="Taiwan">
        <title>不規則動詞三態表</title>
        <link rev="made" title="Author Mail" href="mailto:info@kule.tw" >
        <link rev="made" title="Author Web" href="http://www.kule.tw" >
        <link rel="Shortcut icon" href="http://www.kule.tw/img/avatar.png" >
        <link rel="Bookmark" href="http://www.kule.tw/img/avatar.png" >
        <!--Base Meta End-->

        <!--CSS-->
        <link rel="stylesheet" href="css/verbs.min.css" />
        <link rel="stylesheet" href="css/lazy4.css" />
    </head>
    <body>
        <div id="app">
            <div class="irrverb" :class="{'loaded': loaded}">
                <header class="header container">
                    <div class="f-row f-align:j">
                        <div class="f-col@md:8">
                            <span class="h3">不規則動詞三態表</span>
                            <span class="label clr:dark">{{show.length}}</span>
                        </div>
                        <hr class="hr-spacer sz:quarter u-hide@md">
                        <div class="f-col@md:4">
                            <div class="f-row">
                                <div class="f-col:auto">
                                    <div class="btn-grp :united">
                                        <a class="btn" :class="{'clr:primary': !random}" @click="sortOrder">字母</a>
                                        <a class="btn" :class="{'clr:primary': random}" @click="sortRandom">亂數</a>
                                    </div>
                                </div>
                                <div class="f-col:auto">
                                    <select class="input" v-model="filter" @change="irrverbFilter">
                                        <option value="*">所有</option>
                                        <option v-for="v, k in irrverb" :value="k">{{k.toUpperCase()}} ({{irrverb[k].length}})</option>
                                        <option value="book">課本</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <main class="wrap">
                    <div class="table-responsive-scroll" v-if="show.length">
                        <table class="table :responsive-card :bordered :striped">
                            <thead>
                            <tr>
                                <th width="3%"></th>
                                <th width="21%">中文</th>
                                <th width="25%">原形</th>
                                <th width="25%">過去式</th>
                                <th width="25%">過去分詞</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="active" v-for="v, k in show">
                                <td class="u-align:c u-show@md">{{k+1}}</td>
                                <td data-label="中文翻譯" v-html="v.zh"></td>
                                <td data-label="原形動詞">
                                    <a :href="'https://translate.google.com.tw/#en/zh-TW/' + v.en.root" target="_blank">{{v.en.root}}</a>
                                </td>
                                <td data-label="過去式">
                                    <a :href="'https://translate.google.com.tw/#en/zh-TW/' + v.en.past" target="_blank">{{v.en.past}}</a>
                                </td>
                                <td data-label="過去分詞">
                                    <a :href="'https://translate.google.com.tw/#en/zh-TW/' + v.en.part" target="_blank">{{v.en.part}}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="empty-tip" v-else><p>沒有任何資料</p></div>
                </main>
                <footer class="footer">
                    Made by <a href="https://www.facebook.com/kule.tw" target="_blank">Kei™</a>
                </footer>
            </div>
        </div>

        <!--Javascript-->
        <script type="text/javascript" src="js/kule.urbrowser.min.js"></script>
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/data.min.js"></script>
        <script type="text/javascript" src="js/irrverb.min.js"></script>
    </body>
</html>