<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <!--Base Meta Start-->
        <meta http-equiv="Content-Type" charset="utf-8">
        <meta http-equiv="Content-Language" content="zh-TW">
        <meta name="robots" content="all" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="Kei™/kei.tw" >
        <meta name="distribution" content="Taiwan">
        <title>不規則動詞三態表</title>
        <link rev="made" title="Author Mail" href="mailto:info@kule.tw" >
        <link rev="made" title="Author Web" href="http://www.kule.tw" >
        <link rel="Shortcut icon" href="http://www.kule.tw/img/avatar.png" >
        <link rel="Bookmark" href="http://www.kule.tw/img/avatar.png" >
        <!--Base Meta End-->

        <!--CSS-->
        <link rel="stylesheet" href="css/verbs.min.css" />
        <link rel="stylesheet" href="/assets/css/lazy4.css" />
        <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    </head>
    <body>
        <div id="app">
            <div class="irrverb" :class="{'loaded': loaded}">
                <header class="header container">
                    <div class="f-row f-align:j">
                        <div class="f-col@md:8">
                            <h3>不規則動詞三態表</h3>
                        </div>
                        <hr class="hr-spacer sz:quarter u-hide@md">
                        <div class="f-col@md:4">
                            <div class="f-row">
                                <div class="f-col:auto">
                                    <a class="btn clr:dark :square" href="index.html">
                                        <i class="icon fas fa-home"></i>
                                    </a>
                                </div>
                                <div class="f-col:auto">
                                    <select class="input" v-model="filter" @change="irrverbFilter">
                                        <option value="*">所有 ({{count}})</option>
                                        <option v-for="v, k in irrverb" :value="k">{{k.toUpperCase()}} ({{irrverb[k].length}})</option>
                                        <option value="book">課本 ({{book.length}})</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <main class="wrap">
                    <div class="test">
                        <div class="verb" @click="answer">
                            <div class="regular">{{show[testPage].en.root}}</div>
                            <div class="past" :class="{'is:on': showKey}">
                                <div class="item" v-html="show[testPage].en.past"></div>
                                <div class="item" v-html="show[testPage].en.part"></div>
                            </div>
                        </div>
                    </div>
                    <div class="test-bottom">
                        <button>
                            <i class="far fa-arrow-alt-circle-left" @click="testPrev"></i>
                        </button>
                        <button>
                            <i class="far fa-arrow-alt-circle-right" @click="testNext"></i>
                        </button>
                    </div>
                </main>
            </div>
        </div>

        <!--Javascript-->
        <script type="text/javascript" src="/assets/js/kule.urbrowser.min.js"></script>
        <script type="text/javascript" src="/assets/js/vue.min.js"></script>
        <script type="text/javascript" src="js/data.min.js"></script>
        <script type="text/javascript" src="js/irrverb.min.js"></script>
    </body>
</html>
